{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- About Start -->
<div class="container-fluid py-5 my-5">
  <div class="container pt-5">
    <div class="row g-5">
      <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
        <div class="h-100 position-relative">
          <img
            src="{% static 'images/about-2.jpg' %}"
            class="img-fluid w-75 rounded"
            alt=""
            style="margin-bottom: 25%"
          />
          <div class="position-absolute w-75" style="top: 35%; left: 25%">
            <img
              src="{% static 'images/about-3.jpg' %}"
              class="img-fluid w-100 rounded"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
        <h5 class="text-primary">About Us</h5>
        <h1 class="mb-4">
          About DataMasteryHub Data Solutions and Expert Services
        </h1>
        <p>
            We specialize in offering cutting-edge data solutions tailored to help businesses and individuals harness the power of their data. Our expertise spans Data Analysis, Business Analytics, Data Science, and Machine Learning, enabling you to uncover actionable insights, make informed decisions, and drive growth. From streamlining operations to predictive modeling, we offer personalized solutions to meet your unique challenges.
        </p>

        <p class="mb-4">
          Whether you're looking to optimize business performance, develop machine learning models, or analyze large datasets, our team of data experts is here to provide high-quality services. At our core, we believe in using data to unlock potential and transform the way businesses operate.
        </p>

        <div class="text-center">
          <a
            href="/about/"
            class="btn btn-secondary rounded-pill px-5 py-3 text-white"
            >More Details</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
{% endblock %}
