{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- About Start -->
<div class="container-fluid py-5 my-5">
  <div class="container pt-5">
    <div class="row g-5">
      <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
        <div class="h-100 position-relative">
          <img
            src="{% static 'images/about-2.jpg' %}"
            class="img-fluid w-75 rounded"
            alt=""
            style="margin-bottom: 25%"
          />
          <div class="position-absolute w-75" style="top: 35%; left: 25%">
            <img
              src="{% static 'images/about-3.jpg' %}"
              class="img-fluid w-100 rounded"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
        <h5 class="text-primary">About Us</h5>
        <h1 class="mb-4">
          About DataMasteryHub Data Solutions and Expert Services
        </h1>
        <p>
          <strong>Data Solutions for Businesses and Individuals</strong>: We specialize in providing <strong>cutting-edge data solutions</strong> designed to help businesses and individuals <strong>harness the power of data</strong>. Our expert services in <strong>Data Analysis</strong>, <strong>Business Analytics</strong>, <strong>Data Science</strong>, and <strong>Machine Learning</strong> empower you to uncover actionable insights, make data-driven decisions, and drive growth. From optimizing operations to predictive modeling, we deliver personalized data solutions to solve your unique business challenges.
        </p>
        
        <p class="mb-4">
          Whether you're aiming to <strong>optimize business performance</strong>, <strong>develop machine learning models</strong>, or <strong>analyze large datasets</strong>, our team of <strong>data experts</strong> is ready to provide high-quality services. We believe that data has the power to unlock potential and transform the way businesses operate. Partner with us to leverage data for sustained business success.
        </p>
        

        <div class="text-center">
          <a
            href="/about/"
            class="btn btn-secondary rounded-pill px-5 py-3 text-white"
            >More Details</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
{% endblock %}
