{% extends 'base.html' %}



{% block content %}
  <body>
   


    
<!-- Carousel Start -->
<div class="container-fluid px-0" style="margin-top: -24px">
  <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    `
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img
          src="/static/images/students.jpg"
          class="img-fluid"
          alt="First slide"
        />
        <div class="carousel-caption">
          <div class="container carousel-content">
            <h3 class="text-white display-1 mb-4 animated fadeInRight">
              Elevating Your Excellence
            </h3>
            <p class="mb-4 text-white fs-5 animated fadeInDown">
              Have Questions? Let's talk on Whatsapp!
            </p>
            <a href="https://wa.me/message/ZZHC5HWWJBPLP1" class="ms-2 d-block d-sm-inline-block">
              <button
                type="button"
                class="btn rounded-pill px-5 py-3 text-white"
                style="background-color: #25D366; border: none;"
              >
                Whatsapp
              </button>
            </a>
           
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img
          src="/static/images/image2.jpg"
          class="img-fluid"
          alt="Second slide"
        />
        <div class="carousel-caption">
          <div class="container carousel-content">
            <h4 class="text-white display-1 mb-4 animated fadeInLeft">
              Unleash Your Full Potential
            </h4>
            <p class="mb-4 text-white fs-5 animated fadeInDown">
                
              Need help? Message us instantly!
            </p>

            <a href="https://wa.me/message/ZZHC5HWWJBPLP1" class="ms-2 d-block d-sm-inline-block">
              <button
                type="button"
                class="btn rounded-pill px-5 py-3 text-white"
                style="background-color: #25D366; border: none;"
              >
                Whatsapp
              </button>
            </a>
            

           
            
            
          </div>
        </div>
      </div>

      
              href="/about/"
              class="me-2 d-block d-sm-inline-block mb-2 mb-sm-0"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft"
              >
                Read More
              </button></a
            >
            <a href="/contact" class="ms-2 d-block d-sm-inline-block"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight"
              >
                Contact Us
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
 
    
      
  </div>
</div>
<!-- Carousel End -->

<!-- Fact Start -->
<div class="container-fluid bg-secondary py-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary">
            <span class="counter-value">99</span>%
          </h1>
          <h5 class="text-white mt-1">Success in getting customer happy</h5>
        </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary counter-value">25</h1>
          <h5 class="text-white mt-1">
            Thousand businesses completed successfully
          </h5>
        </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary counter-value">120</h1>
          <h5 class="text-white mt-1">
            Total clients who love StudySmart
          </h5>
        </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary counter-value">5</h1>
          <h5 class="text-white mt-1">
            Stars reviews given by satisfied clients
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fact End -->

<!-- About Start -->
<div class="container-fluid py-5 my-5">
  <div class="container pt-5">
    <div class="row g-5">
      <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
        <div class="h-100 position-relative">
          <img
            src="/static/images/about-2.jpg"
            class="img-fluid w-75 rounded"
            alt=""
            style="margin-bottom: 25%"
          />
          <div class="position-absolute w-75" style="top: 35%; left: 25%">
            <img
              src="/static/images/about-3.jpg"
              class="img-fluid w-100 rounded"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
        <h5 class="text-primary">About Us</h5>
        <h1 class="mb-4">
          About Our Data Solutions and Expert Services
        </h1>
        <p>
          We specialize in offering cutting-edge data solutions tailored to help businesses and individuals harness the power of their data. Our expertise spans Data Analysis, Business Analytics, Data Science, and Machine Learning, enabling you to uncover actionable insights, make informed decisions, and drive growth. From streamlining operations to predictive modeling, we offer personalized solutions to meet your unique challenges.
      </p>
      
      <p class="mb-4">
        Whether you're looking to optimize business performance, develop machine learning models, or analyze large datasets, our team of data experts is here to provide high-quality services. At our core, we believe in using data to unlock potential and transform the way businesses operate.
      </p>
      
      

        <div class="text-center">
          <a
            href="/about/"
            class="btn btn-secondary rounded-pill px-5 py-3 text-white"
            >More Details</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Services Start -->
<div id="services" class="container-fluid services py-5 mb-5">
  <div class="container">
    <div
      class="text-center mx-auto pb-5 wow fadeIn"
      data-wow-delay=".3s"
      style="max-width: 600px"
    >
      <h5 class="text-primary">Our Services</h5>
      <h1>Our Services Include, But Are Not Limited To..</h1>
    </div>
    <div class="row g-5 services-inner">

      
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
        <div class="card border-0 shadow-lg">
            <div class="card-body text-center p-4">
                <div class="services-content">
                    <div class="services-content-icon">
                        <img src="/static/images/computer_science.jpg" alt="Survey Data Analysis" class="img-fluid mb-4">
                        <h4 class="mb-3">Survey Data Analysis</h4>
                        <p class="mb-4">
                            Gain insights from survey data with our expert Survey Data Analysis services. We specialize in analyzing survey results, identifying trends, and providing actionable recommendations. Whether it's customer feedback, market research, or employee satisfaction, our data-driven approach helps businesses make informed decisions.
                        </p>
                        <a href="{% url 'survey' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
      <div class="card border-0 shadow-lg">
          <div class="card-body text-center p-4">
              <div class="services-content">
                  <div class="services-content-icon">
                      <img src="/static/images/machine_learning1.jpg" alt="Machine Learning" class="img-fluid mb-4">
                      <h4 class="mb-3">Machine Learning Solutions</h4>
                      <p class="mb-4">
                          Leverage the power of Machine Learning to drive business innovation and efficiency. Our cutting-edge solutions help you harness advanced algorithms for predictive analytics, automation, and data-driven decision-making. Transform your business processes and stay ahead in the competitive landscape with our tailored Machine Learning services.
                      </p>
                      <a href="{% url 'ml' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
    <div class="card border-0 shadow-lg">
        <div class="card-body text-center p-4">
            <div class="services-content">
                <div class="services-content-icon">
                    <img src="/static/images/data_analysis.jpg" alt="Data Analysis" class="img-fluid mb-4">
                    <h4 class="mb-3">Data Analysis</h4>
                    <p class="mb-4">
                        Unlock the full potential of your business data with our expert Data Analysis services. We specialize in transforming raw data into actionable insights using tools like SPSS, STATA, R, and Python. From data visualization to business intelligence, we help you make informed decisions and drive success in a competitive market.
                    </p>
                    <a href="{% url 'data_analysis' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

      

      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
        <div class="card border-0 shadow-lg">
            <div class="card-body text-center p-4">
                <div class="services-content">
                    <div class="services-content-icon">
                        <img src="/static/images/economics.jpg" alt="Econometrics Data Analysis" class="img-fluid mb-4">
                        <h4 class="mb-3">Economics & Econometrics Data Analysis</h4>
                        <p class="mb-4">
                            Leverage our expertise in Econometrics Data Analysis to unlock insights from economic data. We offer professional guidance in statistical modeling, regression analysis, and forecasting to help you understand and apply econometric methods for research, policy, and business decision-making.
                        </p>
                        <a href="{% url 'economics' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
      <div class="card border-0 shadow-lg">
          <div class="card-body text-center p-4">
              <div class="services-content">
                  <div class="services-content-icon">
                      <img src="/static/images/data_mining.png" alt="Data Cleaning & Processing" class="img-fluid mb-4">
                      <h4 class="mb-3">Data Cleaning & Processing</h4>
                      <p class="mb-4">
                          Ensure the accuracy and quality of your business data with our Data Cleaning & Processing services. We use advanced tools to clean, process, and transform raw data into actionable information, allowing your business to make better, data-driven decisions with confidence.
                      </p>
                      <a href="{% url 'data_cleaning' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  
      
  <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
    <div class="card border-0 shadow-lg">
        <div class="card-body text-center p-4">
            <div class="services-content">
                <div class="services-content-icon">
                    <img src="/static/images/finance.jpg" alt="Finance" class="img-fluid mb-4">
                    <h4 class="mb-3">Finance Data Analysis</h4>
                    <p class="mb-4">
                        Drive strategic financial decisions with our comprehensive Finance Data Analysis services. Specializing in financial modeling, risk analysis, corporate finance, and investment insights, we provide data-driven solutions that enhance business performance and inform investment strategies.
                    </p>
                    <a href="{% url 'finance' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

      


      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="card border-0 shadow-lg">
          <div class="card-body text-center p-4">
            <div class="services-content">
              <div class="services-content-icon">
                <img src="/static/images/business_analytics.jpg" alt="Business Analytics" class="img-fluid mb-4">
                <h4 class="mb-3">Business Analytics</h4>
                <p class="mb-4">
                  Harness the power of Business Analytics to drive success. Our expertise in Business Intelligence, Data Analytics, and Predictive Analytics, coupled with tools like Power BI and Tableau, ensures insightful reports and case studies to guide your strategic decisions and optimize performance.
                </p>
                <a href="{% url 'business_analytics' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="card border-0 shadow-lg">
            <div class="card-body text-center p-4">
                <div class="services-content">
                    <div class="services-content-icon">
                        <img src="/static/images/case_study.jpg" alt="Data Insights & Analytics" class="img-fluid mb-4">
                        <h4 class="mb-3">Data Insights & Analytics</h4>
                        <p class="mb-4">
                            Explore our collection of real-world Data Insights & Analytics, showcasing innovative data analysis, machine learning applications, and predictive modeling solutions. We provide detailed reports and insights that drive business strategy, operational efficiency, and data-driven decision-making across various industries.
                        </p>
                        <a href="{% url 'data_insights' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      
    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
      <div class="card border-0 shadow-lg">
          <div class="card-body text-center p-4">
              <div class="services-content">
                  <div class="services-content-icon">
                      <img src="/static/images/reports.jpeg" alt="Data Scraping & Business Research" class="img-fluid mb-4">
                      <h4 class="mb-3">Data Scraping & Business Research</h4>
                      <p class="mb-4">
                          Empower your business with our Data Scraping and Business Research services. We provide robust data collection from various online sources, coupled with deep market analysis to drive your business strategies. Turn raw data into valuable insights and gain a competitive edge with our customized research reports.
                      </p>
                      <a href="{% url 'data_scrapping' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  


      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="card border-0 shadow-lg">
          <div class="card-body text-center p-4">
            <div class="services-content">
              <div class="services-content-icon">
                <img src="/static/images/business.jpg" alt="Time Series Forecasting" class="img-fluid mb-4">
                <h4 class="mb-3">Time Series Forecasting for Financial Predictions</h4>
                <p class="mb-4">
                  Unlock the power of Time Series Forecasting to predict financial trends and make informed decisions. We offer expertise in financial data analysis, using advanced statistical and machine learning techniques to forecast market trends, stock prices, and other financial metrics to optimize your strategies.
                </p>
                <a href="{% url 'business_forecasting' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="card border-0 shadow-lg">
          <div class="card-body text-center p-4">
            <div class="services-content">
              <div class="services-content-icon">
                <a href="services">
                  <img src="/static/images/marketing.jpg" alt="Predictive Analytics" class="img-fluid mb-4 image-link">
                </a>
                <h4 class="mb-3">Predictive Analytics for Future Trends</h4>
                <p class="mb-4">
                  Leverage the power of Predictive Analytics to forecast future trends and enhance decision-making. With our expertise in statistical modeling, machine learning, and data mining, we help businesses analyze past patterns to predict future events, empowering you with data-driven insights for strategic planning.
                </p>
                <a href="{% url 'predictive_analysis' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="card border-0 shadow-lg">
            <div class="card-body text-center p-4">
                <div class="services-content">
                    <div class="services-content-icon">
                        <img src="/static/images/marketing1.jpg" alt="Data Visualization and Dashboard" class="img-fluid mb-4">
                        <h4 class="mb-3">Data Visualization and Dashboard Solutions</h4>
                        <p class="mb-4">
                            Turn your data into insightful visualizations with our Data Visualization and Dashboard Solutions. We specialize in creating dynamic, interactive dashboards that offer real-time analytics, helping businesses monitor performance and make data-driven decisions efficiently.
                        </p>
                        <a href="{% url 'data_visualization' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
  </div>
</div>
<!-- Services End -->


<!-- Testimonial Start -->
<div class="container-fluid testimonial py-5 my-5">
    <div class="container py-5">
  
      <!-- Title Section -->
      <div
        class="text-center mx-auto pb-5 wow fadeIn"
        data-wow-delay=".3s"
        style="max-width: 600px"
      >
        <h1>What Our Clients Say</h1>
      </div>
  
      <!-- Owl Carousel for Testimonials -->
      <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay=".5s">
        
        <!-- Testimonial Item 1 -->
        <div class="testimonial-item border p-4">
          <div class="d-flex align-items-center">
            <div class="testimonial-img">
              <img src="/static/images/pprofessional1.jpg" alt="Fatmak" />
            </div>
            <div class="ms-4">
              <h4 class="text-secondary">Joan</h4>
              <p class="m-0 pb-3">Consultancy Agency</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
              </div>
            </div>
          </div>
          <div class="border-top mt-4 pt-3">
            <p class="mb-0">
              StudySmart delivered high-quality services on time and within
              budget. Their expertise is unmatched, and I highly recommend them.
            </p>
          </div>
        </div>
  
        <!-- Testimonial Item 2 -->
        <div class="testimonial-item border p-4">
          <div class="d-flex align-items-center">
            <div class="testimonial-img">
              <img src="/static/images/professional2.jpg" alt="Ali" />
            </div>
            <div class="ms-4">
              <h4 class="text-secondary">Ali</h4>
              <p class="m-0 pb-3">Graduate</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
              </div>
            </div>
          </div>
          <div class="border-top mt-4 pt-3">
            <p class="mb-0">
              Thank you for your exceptional guidance on my project. Your expert approach made complex concepts easy to grasp, and reignited my passion for learning.
            </p>
          </div>
        </div>
  
        <!-- Testimonial Item 3 -->
        <div class="testimonial-item border p-4">
          <div class="d-flex align-items-center">
            <div class="testimonial-img">
              <img src="/static/images/professional3.jpg" alt="Dozmor" />
            </div>
            <div class="ms-4">
              <h4 class="text-secondary">Liz</h4>
              <p class="m-0 pb-3">Entrepreneur</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
              </div>
            </div>
          </div>
          <div class="border-top mt-4 pt-3">
            <p class="mb-0">
              Study Smart’s economics courses transformed my business approach. The practical insights and inspired teaching have taken my strategy to the next level. Highly recommend for any entrepreneur!
            </p>
          </div>
        </div>
  
        <!-- Testimonial Item 4 -->
        <div class="testimonial-item border p-4">
          <div class="d-flex align-items-center">
            <div class="testimonial-img">
              <img src="/static/images/professional4.jpg" alt="MakeIAM" />
            </div>
            <div class="ms-4">
              <h4 class="text-secondary">Chris Michael</h4>
              <p class="m-0 pb-3">Graduate</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
              </div>
            </div>
          </div>
          <div class="border-top mt-4 pt-3">
            <p class="mb-0">
              The lessons I've gained here have been a catalyst for my growth. The knowledge is practical, the delivery is inspiring, and the results speak for themselves. An essential experience for anyone serious about success
            </p>
          </div>
        </div>
  
      </div> <!-- End of owl-carousel -->
  
    </div>
  </div>
  <!-- Testimonial End -->
  
  


    

    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary btn-square rounded-circle back-to-top"
      ><i class="fa fa-arrow-up text-white"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/wow/wow.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/js/main.js"></script>
  </body>
</html>





<!-- This is the Corousel code for the Testimonial -->
<!-- Include Owl Carousel JS and CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
$(document).ready(function(){
  $('.owl-carousel').owlCarousel({
    loop: true,
    margin: 30,
    nav: false,
    autoplay: true,
    autoplayTimeout: 5000,
    responsive: {
      0: {
        items: 1
      },
      768: {
        items: 2
      },
      1000: {
        items: 3
      }
    }
  });
});
</script>

<!-- Whatsapp Message -->


{%endblock%}