{% extends 'base.html' %}

{% block title %}Services{% endblock %}

{% block content %}



<!-- Services Start -->


<div id="services" class="container-fluid services py-5 mb-5">
  <div class="container">
    <div
      class="text-center mx-auto pb-5 wow fadeIn"
      data-wow-delay=".3s"
      style="max-width: 600px"
    >
      <h5 class="text-primary">Our Services</h5>
      <h1>Services Built Specifically For You</h1>
    </div>

    
    <div class="row g-5 services-inner">


      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
        <div class="card border-0 shadow-lg">
            <div class="card-body text-center p-4">
                <div class="services-content">
                    <div class="services-content-icon">
                        <img src="/static/images/computer_science.jpg" alt="Survey Data Analysis" class="img-fluid mb-4">
                        <h4 class="mb-3">Survey Data Analysis</h4>
                        <p class="mb-4">
                            Gain insights from survey data with our expert Survey Data Analysis services. We specialize in analyzing survey results, identifying trends, and providing actionable recommendations. Whether it's customer feedback, market research, or employee satisfaction, our data-driven approach helps businesses make informed decisions.
                        </p>
                        <a href="{% url 'cs' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
      <div class="card border-0 shadow-lg">
          <div class="card-body text-center p-4">
              <div class="services-content">
                  <div class="services-content-icon">
                      <img src="/static/images/machine_learning1.jpg" alt="Machine Learning" class="img-fluid mb-4">
                      <h4 class="mb-3">Machine Learning Solutions</h4>
                      <p class="mb-4">
                          Leverage the power of Machine Learning to drive business innovation and efficiency. Our cutting-edge solutions help you harness advanced algorithms for predictive analytics, automation, and data-driven decision-making. Transform your business processes and stay ahead in the competitive landscape with our tailored Machine Learning services.
                      </p>
                      <a href="{% url 'ml' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
    <div class="card border-0 shadow-lg">
        <div class="card-body text-center p-4">
            <div class="services-content">
                <div class="services-content-icon">
                    <img src="/static/images/data_analysis.jpg" alt="Data Analysis" class="img-fluid mb-4">
                    <h4 class="mb-3">Data Analysis</h4>
                    <p class="mb-4">
                        Unlock the full potential of your business data with our expert Data Analysis services. We specialize in transforming raw data into actionable insights using tools like SPSS, STATA, R, and Python. From data visualization to business intelligence, we help you make informed decisions and drive success in a competitive market.
                    </p>
                    <a href="{% url 'data_analysis' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

      

      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
        <div class="card border-0 shadow-lg">
            <div class="card-body text-center p-4">
                <div class="services-content">
                    <div class="services-content-icon">
                        <img src="/static/images/economics.jpg" alt="Econometrics Data Analysis" class="img-fluid mb-4">
                        <h4 class="mb-3">Economics & Econometrics Data Analysis</h4>
                        <p class="mb-4">
                            Leverage our expertise in Econometrics Data Analysis to unlock insights from economic data. We offer professional guidance in statistical modeling, regression analysis, and forecasting to help you understand and apply econometric methods for research, policy, and business decision-making.
                        </p>
                        <a href="{% url 'economics' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
      <div class="card border-0 shadow-lg">
          <div class="card-body text-center p-4">
              <div class="services-content">
                  <div class="services-content-icon">
                      <img src="/static/images/data_mining.png" alt="Data Cleaning & Processing" class="img-fluid mb-4">
                      <h4 class="mb-3">Data Cleaning & Processing</h4>
                      <p class="mb-4">
                          Ensure the accuracy and quality of your business data with our Data Cleaning & Processing services. We use advanced tools to clean, process, and transform raw data into actionable information, allowing your business to make better, data-driven decisions with confidence.
                      </p>
                      <a href="{% url 'data_mining' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  
      
  <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
    <div class="card border-0 shadow-lg">
        <div class="card-body text-center p-4">
            <div class="services-content">
                <div class="services-content-icon">
                    <img src="/static/images/finance.jpg" alt="Finance" class="img-fluid mb-4">
                    <h4 class="mb-3">Finance Data Analysis</h4>
                    <p class="mb-4">
                        Drive strategic financial decisions with our comprehensive Finance Data Analysis services. Specializing in financial modeling, risk analysis, corporate finance, and investment insights, we provide data-driven solutions that enhance business performance and inform investment strategies.
                    </p>
                    <a href="{% url 'finance' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

      


      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="card border-0 shadow-lg">
          <div class="card-body text-center p-4">
            <div class="services-content">
              <div class="services-content-icon">
                <img src="/static/images/business_analytics.jpg" alt="Business Analytics" class="img-fluid mb-4">
                <h4 class="mb-3">Business Analytics</h4>
                <p class="mb-4">
                  Harness the power of Business Analytics to drive success. Our expertise in Business Intelligence, Data Analytics, and Predictive Analytics, coupled with tools like Power BI and Tableau, ensures insightful reports and case studies to guide your strategic decisions and optimize performance.
                </p>
                <a href="{% url 'business_analytics' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="card border-0 shadow-lg">
            <div class="card-body text-center p-4">
                <div class="services-content">
                    <div class="services-content-icon">
                        <img src="/static/images/case_study.jpg" alt="Data Insights & Analytics" class="img-fluid mb-4">
                        <h4 class="mb-3">Data Insights & Analytics</h4>
                        <p class="mb-4">
                            Explore our collection of real-world Data Insights & Analytics, showcasing innovative data analysis, machine learning applications, and predictive modeling solutions. We provide detailed reports and insights that drive business strategy, operational efficiency, and data-driven decision-making across various industries.
                        </p>
                        <a href="{% url 'case_studies' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      
    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
      <div class="card border-0 shadow-lg">
          <div class="card-body text-center p-4">
              <div class="services-content">
                  <div class="services-content-icon">
                      <img src="/static/images/reports.jpeg" alt="Data Scraping & Business Research" class="img-fluid mb-4">
                      <h4 class="mb-3">Data Scraping & Business Research</h4>
                      <p class="mb-4">
                          Empower your business with our Data Scraping and Business Research services. We provide robust data collection from various online sources, coupled with deep market analysis to drive your business strategies. Turn raw data into valuable insights and gain a competitive edge with our customized research reports.
                      </p>
                      <a href="{% url 'reports' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  


      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="card border-0 shadow-lg">
          <div class="card-body text-center p-4">
            <div class="services-content">
              <div class="services-content-icon">
                <img src="/static/images/business.jpg" alt="Time Series Forecasting" class="img-fluid mb-4">
                <h4 class="mb-3">Time Series Forecasting for Financial Predictions</h4>
                <p class="mb-4">
                  Unlock the power of Time Series Forecasting to predict financial trends and make informed decisions. We offer expertise in financial data analysis, using advanced statistical and machine learning techniques to forecast market trends, stock prices, and other financial metrics to optimize your strategies.
                </p>
                <a href="{% url 'business' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="card border-0 shadow-lg">
          <div class="card-body text-center p-4">
            <div class="services-content">
              <div class="services-content-icon">
                <a href="services">
                  <img src="/static/images/marketing.jpg" alt="Predictive Analytics" class="img-fluid mb-4 image-link">
                </a>
                <h4 class="mb-3">Predictive Analytics for Future Trends</h4>
                <p class="mb-4">
                  Leverage the power of Predictive Analytics to forecast future trends and enhance decision-making. With our expertise in statistical modeling, machine learning, and data mining, we help businesses analyze past patterns to predict future events, empowering you with data-driven insights for strategic planning.
                </p>
                <a href="{% url 'marketing' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="card border-0 shadow-lg">
            <div class="card-body text-center p-4">
                <div class="services-content">
                    <div class="services-content-icon">
                        <img src="/static/images/marketing1.jpg" alt="Data Visualization and Dashboard" class="img-fluid mb-4">
                        <h4 class="mb-3">Data Visualization and Dashboard Solutions</h4>
                        <p class="mb-4">
                            Turn your data into insightful visualizations with our Data Visualization and Dashboard Solutions. We specialize in creating dynamic, interactive dashboards that offer real-time analytics, helping businesses monitor performance and make data-driven decisions efficiently.
                        </p>
                        <a href="{% url 'research' %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      
      


    </div>
  </div>
</div>
</div>
<!-- Services End -->

<!-- Services End -->
{% endblock %}
